@import "../../_value.scss";

.goods-detail {
  width: rpx(750);
  position: relative;
  .box-flex {
    display: -webkit-box;
    display: flex;
  }
  .line-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .movie-detail {
    width: rpx(750);
    position: relative;
    height: rpx(600);
    cursor: pointer;
    .movie-filter {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: #333;
    }
    .poster-bg {
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;
      position: absolute;
      -webkit-filter: blur(0.3rem);
      filter: blur(0.3rem);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: .55;
    }
    .detail {
      height: rpx(600);
      padding: rpx(40) rpx(50);
      box-sizing: border-box;
      .poster {
        image {
          width: rpx(330);
          height: rpx(460);
          box-sizing: border-box;
        }
      }
      .content {
        > text {
          display: block;
        }
        overflow-x: hidden;
        margin-left: 12.5px;
        line-height: 1;
        color: #fff;
        .title {
          font-size: rpx(36);
          margin-top: rpx(4);
          overflow: hidden;
        }
        .score {
          font-size: rpx(30);
          color: #418100;
          margin-top: rpx(22);
        }
        .time, .type, .performer {
          font-size: rpx(30);
          margin-top: rpx(22);
        }
      }
    }
  }
  .wm-detail-lable {
    width: rpx(750);
    padding: rpx(40);
    box-sizing: border-box;
    background-color: #fff;
    .wm-detail-lable-list {
      width: 100%;
      padding: rpx(20) 0;
      box-sizing: border-box;
      text {
        color: #1a1a1a;
        display: block;
        line-height: rpx(70);
        font-size: rpx(30);
      }
    }
  }
  .wm-detail-synopsis {
    width: rpx(750);
    box-sizing: border-box;
    padding: 0 rpx(30);
    .wm-detail-synopsis-desc {
      font-size: rpx(28);
      color: #1a1a1a;
      line-height: rpx(60);
      width: 100%;
      padding: rpx(20) 0;
    }
  }
}

.wm-detail-url {
  width: rpx(750);

  box-sizing: border-box;
  padding: 0 rpx(30);
  background-color: #fff;
}

.goods-detail-sj .goods-detail-url {
  display: block;
  width: 80%;
  height: rpx(50);
  line-height: rpx(50);
  box-sizing: border-box;
  border-radius: rpx(6);
}

.goods-detail-sj {
  width: 100%;
  view {
    width: 100%;
    height: rpx(50);
    line-height: rpx(50);
  }
  button {
    width: rpx(108);
    background-color: #1AAD19;
    color: #fff;
    height: rpx(50);
    line-height: rpx(50);
    font-size: rpx(32);
    padding-left: rpx(0);
    padding-right: rpx(0);
  }
}

.wm-detail-url-con {
  padding: rpx(20) 0;
}

.sell-door-list {
  float: left;
  padding-right: rpx(20);
  &:last-child {
    padding-right: 0;
  }
  image {
    float: left;
    width: rpx(700);
    height: rpx(450);
  }
}

.sell-door-list-explain text {
  display: inline-block;
  font-size: rpx(24);
  color: #1a1a1a;
  text-align: center;
}


