@import "../../_value.scss";

.goods-detail {
  width: rpx(750);
  background-color: #fff;
  position: relative;
  .detail-bg {
    overflow: hidden;
    width: rpx(800);
    height: rpx(500);
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: rpx(-6);
    background-attachment:fixed;
    background-position:  center center;
    background-size: cover;
    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
  }
  .wm-detail-header {
    width: rpx(750);
    height: rpx(456);
    box-sizing: border-box;
    color: #fff;
    position: relative;
    background-position: center;
    background-size: cover;
    .wm-detail-lf {
      width: 45%;
      box-sizing: border-box;
      padding: rpx(40) 0 rpx(40) rpx(40);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      image {
        background-color: #000;
        width: rpx(280);
        height: rpx(390);
        border-radius: rpx(8);
      }
    }
    .wm-detail-rt {
      width: 55%;
      box-sizing: border-box;
      padding: rpx(40) rpx(40) rpx(40) rpx(20);
      position: absolute;
      color: #fff;
      top: 0;
      right: 0;
      z-index: 20;
      > text {
        display: block;
        font-size: rpx(30);
      }
      .wm-detail-title {
        font-size: rpx(36);
        padding-bottom: rpx(8);
        width: 82%;
      }
      .wm-detail-score {
        padding: rpx(18) 0;
      }
      .wm-detail-yy{
        display: -webkit-box;
        line-height: rpx(48);
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp:2;
        overflow: hidden;
        text-overflow:ellipsis;
      }
    }
  }
  .wm-detail-lable {
    width: rpx(750);
    padding: 0 rpx(30);
    box-sizing: border-box;
    margin-top: rpx(100);
    background-color: #fff;
    .wm-detail-lable-list {
      width: 100%;
      padding: rpx(20) 0;
      box-sizing: border-box;
      text {
        color: #1a1a1a;
        display: inline-block;
        line-height: rpx(80);
        font-size: rpx(30);
      }
    }

  }
  .wm-detail-synopsis {
    width: rpx(750);
    box-sizing: border-box;
    padding: 0 rpx(30);
    .wm-detail-synopsis-desc {
      font-size: rpx(28);
      color: #1a1a1a;
      line-height: rpx(60);
      width: 100%;
      padding: rpx(20) 0;
    }
  }
}

.wm-detail-url {
  width: rpx(750);

  box-sizing: border-box;
  padding: 0 rpx(30);
  background-color: #fff;
}

.goods-detail-sj .goods-detail-url {
  display: block;
  width: 80%;
  height: rpx(50);
  line-height: rpx(50);
  box-sizing: border-box;
  border-radius: rpx(6);
}

.goods-detail-sj {
  width: 100%;
  view {
    width: 100%;
    height: rpx(50);
    line-height: rpx(50);
  }
  button {
    width: rpx(108);
    background-color: #1AAD19;
    color: #fff;
    height: rpx(50);
    line-height: rpx(50);
    font-size: rpx(32);
    padding-left: rpx(0);
    padding-right: rpx(0);
  }
}

.wm-detail-url-con {
  padding: rpx(20) 0;
}



.sell-door-list {
  float: left;
  padding-right: rpx(20);
  &:last-child {
    padding-right: 0;
  }
  image {
    float: left;
    width: rpx(700);
    height: rpx(450);
  }
}

.sell-door-list-explain text {
  display: inline-block;
  font-size: rpx(24);
  color: #1a1a1a;
  text-align: center;
}


